{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block head %}
<script type="text/javascript">
     $(function() {
          $('#id_name').bind('change', function() { this.form.submit() } );
     });
</script>
{% endblock %}

{% block title %}Arbeitszeiten aller Studenten{% endblock %}
{% block subtitle %}Wer hat wann, wie lange, woran gearbeitet?{% endblock %}

{% block content %}      
	<form class="form-horizontal" action="/timetracker/times/" method="post">
	    	{% crispy form %}
	</form>
      
	{% render_table table %}
      
  {% block sumoftime %}
  {% if timesum %}<p>Gesamte Arbeitszeit: {{ timesum }} Zeitstunden<p>{% endif %}
  {% endblock %}
{% endblock %}